<h1>Administracion de Usuarios</h1>
<div id="page">
</div>

<script>
	var MyApp = new Backbone.Marionette.Application();

	MyApp.addRegions({
		mainRegion: '#page'
	});

	MyApp.addInitializer( function(options){
		var routes = new UsersRouter({users: options.users.toJSON()});

		MyApp.on('save', function(collection){
			var formData = {};				

			$('#new-user').children('input').each( function(index, element){ 
			if( $(element).val() != '')
				formData[ element.id ] = $(element).val();										 
			});

			collection.create(formData, {
				success: function(){
					routes.navigate('',{trigger:true});
				}
			});
		});

		MyApp.on('edit', function(model){
			var formData = {};				

			$('#edit-user').children('input').each( function(index, element){ 
			if( $(element).val() != '')
				formData[ element.id ] = $(element).val();										 
			});

			model.save(formData, {
				success: function(){
					routes.navigate('',{trigger:true});
				}
			});
		});
		
		Backbone.history.start();
	});

	var users = new Users(<%= @users.to_json().html_safe %>);

	MyApp.start({users: users});
</script>
